
<div class="main-container">
    <div class="container1">
        <img src="/img/image-removebg-preview.png" alt="bank-image">
    </div>
    <div class="container2">
        <div class="nav-head">
            <h1>Banking Made Simple</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iste labore dolorem rerum ullam quasi incidunt dolore voluptatem, deserunt sequi alias deleniti? Labore officiis deserunt doloremque nostrum. Doloribus, cumque nemo.</p>
        </div>
        <div class="nav">
            <div class="nav-el"><a href="/customers">View All Customers</a></div>
            <div class="nav-el"><a href="/transaction">View All Transactions</a></div>
        </div>
            
    </div>
</div>
