
<div class="main-container">
    <div class="container1">
        <img src="/img/image1.jpg" alt="bank-image">
    </div>
    <div class="container2">
        <div class="nav-el"><button type="button" class="btn btn-outline-primary btn-lg"><a href="/customers">View All Customers</a></button></div>
        <div class="nav-el"><button type="button" class="btn btn-outline-primary btn-lg"><a href="/transaction">View All Transactions</a></button></div>    
    </div>
</div>
